.Message {
  display: flex;
  flex-direction: column;
  border: solid 1px #BFBBB9;
  border-radius: 1px;
  margin-bottom: 20px;
  padding: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }

  .Message-meta {
    display: flex;
    font-size: 12px;
    color: 666;
    margin-bottom: 10px;
  }
}